@mixin Jost($weight,$size){
    font-weight: $weight;
    font-size: $size;
}
@mixin Istok($weight,$size){
    font-weight: $weight;
    font-size: $size;
}
.header{
    width: 100%;
    height: 778px;
    background: tomato;
    &_info{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        background: #010632;
        &_wrapper{
            display: flex;
            align-items: center;
            width: 1000px;
            height: 100%;
            background: darkmagenta;
            justify-content: space-between;
            &_fundraising{
                @include Jost(400,24px);
                color: white;
            }
            &_about{
                @include Jost(400,24px);
                color: white;
            }
            &_logo{
                color: white;
                @include Istok(700,48px);
            }
            &_donat{
                @include Jost(400,24px);
                color: white;
            }
        }
    }
    &_images{
        width: 1429px;
        height: 100%;
        background: darkgreen;
    }
}
.blue{
    color: blue;
}
.yellow{
    color: yellow;
}